<div class="container-0">

    <div class="container-1">
        <img src="https://imgur.com/wOPZVmI.png" alt="music not in comment box" class='img-1'>
        <h1 class="h1Layouts">Muser</h1>
    </div>

    <div class="container-2-form">
        <form action="/auth/spotify/" method="GET" class="form">
            <input type="submit" class="login-form" value="Sign in with Spotify">
        </form>
    </div>

</div>