<h2>Homepage</h2>

<<<<<<< HEAD
<div class="card-action">
    <form action="/facts" method="POST">
        <input type="text" name="text" class="white-text">
        <button type="submit" class="btn white-text">add comment</button>
    </form>
</div>
=======
<form action="/results" method="GET">
    <input type="text" name="track" id="">
    <button type="submit">Submit</button>
</form>
>>>>>>> submain
