<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div><a href="/" style="text-decoration:none">Home</a></div>
        <div><a href="/about" style="text-decoration:none"> About </a></div>
        <div><a href="/profile" style="text-decoration:none"> Profile </a></div>
        <div><a href="/logout" style="text-decoration:none">Log Out</a></div>
    </nav>

    <header>

    </header>



    <%- body %>

</body>

</html>