<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div><a href="/">HOME</a></div>
        <div>ABOUT</div>
        <div><a href="/logout">Log Out</a></div>
    </nav>

    <header>

    </header>
    <form action="/results" method="GET">
        <select name="type" id="">
            <option value="track" selected>Track</option>
            <option value="artist">Artist</option>
            <option value="album">Album</option>
        </select>
        <input type="hidden" name="limit" value="20">
        <input type="text" name="track" id="">
        <button type="submit">Submit</button>
    </form>


    <%- body %>

</body>

</html>