/* *,
*:after,
*:before {
    box-sizing: border-box;
} */

:root {
    --jumbotron-padding-y: 3rem;
    color: green;
}

.h12 {
    margin-left: 24rem;
}

.profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

.userPic {
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.userName {
    font-size: 10px;
}

.del-edit {
    display: flex;
    margin-bottom: auto;
}

.login-form {
    background-color: #9ddad2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.login-form:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 8px 0 rgba(0, 0, 0, 0.19);
    transition: all ease 0.3s;
    transition: all 0.5s ease;
    background: black;
    padding: 20px;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 400;
}

.jumbotron .container {
    max-width: 40rem;
    padding: 7rem;
    border-radius: 5px;
}


/* .jumbotron p {
    color: #9ddad2;
    color: black;
} */

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.index-button {
    background-color: #9ddad2;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.index-button:hover {
    transition: all 0.5s ease;
    background: black;
    padding: 6px;
}

.muser {
    animation: shake 2s;
    animation-iteration-count: 5s;
    margin-top: 2.5%;
}

@keyframes shake {
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}